.logoSuspenso {
  max-width: 230px;
  height: auto !important;
  object-fit: contain;
  display: block;
  margin: 2px  2px ;
  filter: drop-shadow(0 2px 5px rgba(0,0,0,0.1));
}

.containerSuspenso {
  height: 100vh;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5vh;
  font-family: 'Inter', sans-serif;
  padding: 30px;
}

.cardAviso {
  background: white;
  padding: 40px;
  border-radius: 30px;
  text-align: center;
  max-width: 450px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible; 
  position: relative;
}

.iconErro {
  font-size: 3rem;
  margin: 20px 0;
}

.cardAviso h1 {
  color: #1a1a1a;
  margin-bottom: 15px;
}

.cardAviso p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 25px;
}

.infoSuporte {
  background: #fff5f5;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ffebeb;
}

.infoSuporte span {
  display: block;
  font-size: 0.9rem;
  color: #ea1d2c;
  margin-bottom: 15px;
  font-weight: 600;
}

.btnSuporte {
  display: inline-block;
  background: #25d366;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.btnSuporte:hover { transform: scale(1.05); }

.cardAviso small {
  display: block;
  margin-top: 30px;
  color: #aaa;
}